<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

  <h1>User's page</h1>

  <table>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Email</th>
      <th>Roles</th>
    </tr>
    <tr>
      <td th:text="${user.id}" />
      <td th:text="${user.name}" />
      <td th:text="${user.email}" />
      <td>
        <ul th:each="role: ${roles}">
          <li th:text="${role}" />
        </ul>
      </td>
    </tr>

  </table>

</body>
</html>